
* {
    margin: 0;
    padding: 0%;
}

.header-img {
    width:100%;
    min-height:350px;
    max-height:640px;
}

.logo {
    width: 32px;
}

.logo-header {
    height: 300px;
}


#instalaciones {
    height: 90vh;
    margin: 30px
}

#pricing {
    height: 100vh;
    margin: 30px;    
}

#contact {
    height: 90vh;
    margin-top: 40px;   
}

#logo-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #logo-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .logo-header {
        height: 100px;
    }
  }


  .slide-in-fwd-left {
	-webkit-animation: slide-in-fwd-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }


  .slide-in-bck-top {
	-webkit-animation: slide-in-bck-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-bck-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
@-webkit-keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  