
* {
    margin: 0;
    padding: 0%;
}

.header-img {
    width:100%;
    min-height:350px;
    max-height:640px;
}

.logo {
    width: 32px;
}

.logo-header {
    height: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  height: 200px;
}

.container-card {
  display: flex;
  justify-content: space-between;
}

.container-list {
  margin: 30px;
  padding: 40px;
}

.container-list h1 {
  padding-top: 40px;
}

.container-list p {
  padding: 40px;
}

.texto-info {
  margin-left: 40px;
  padding: 40px;
}


.container-card-img {
  margin-top: 40px;
}

.container-card-img img {
  padding: 20px;
  width: 400px;
  height: 500px;
}


.container-list {
  width: 800px;
  padding: 0%;
}

#pricing {
    height: 100vh;
    margin: 30px;    
}

#contact {
    height: 90vh;
    margin-top: 40px;   
}

#logo-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #logo-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .logo-header {
        height: 100px;
    }

    .work-container {
      display: flex;
      flex-direction: column;
    }
    .container-card {
      display: flex;
      flex-direction: column;
    }
  }


  .slide-in-fwd-left {
	-webkit-animation: slide-in-fwd-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }


  .slide-in-bck-top {
	-webkit-animation: slide-in-bck-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-bck-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
@-webkit-keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .alert {
    text-align: center;
    display: none;
    margin: 5px;
  }
